@import 'null.scss';

html{
    font-size: calc(100vw / 1640 * 10);
    @media (max-width:992px){
        font-size: calc(100vw / 768 * 10);
    }
}



.container {
    max-width: 164rem;
    margin: 0 auto;
    padding: 0 1.5rem;     
}
.header {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 0;
}
.header__logo {
    width: 21.3rem;
    height: 5rem;
    background-image:url("/src/assets/img/header/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;

}
.header__remont {
    width: 14.2rem;
    height: 4rem;
    letter-spacing: 0.02em;
    line-height: 1.63;
}
.header__adress {
    width: 20.2rem;
    height: 3.5rem;
    padding-left: 4.5rem;
    line-height: 1.63; 
    background-image:url("/src/assets/img/header/card.svg");
    background-size: 3.5rem 3.5rem;
    background-repeat: no-repeat;
    background-position: left top;

}
.header__card {
    font-weight: 700;
    width: 14.2rem;
    height: 1.9rem;
    padding-left: 2.2rem;
    letter-spacing: 0.05em;
    background-image:url("/src/assets/img/header/geo.svg");
    background-size: 1.2rem 1.5rem;
    background-repeat: no-repeat;
    background-position: left;
    span{
        display: block;
        border-bottom:  0.2rem dotted #FD2016 ;
        width: 11.9rem;
    }
}
.header__calc {
    max-width: 19.3rem;
    height: 3.7rem;
    font-weight: 700;
    line-height: 1.72;
    letter-spacing: 0.05em;
    padding-left: 4.6rem;
    background-image:url("/src/assets/img/header/calc.svg");
    background-size: 3.503rem 3.5rem;
    background-repeat: no-repeat;
    background-position: left;
    span{
        border-bottom:  0.2rem dotted #FD2016 ;
        display: block;
        &:nth-child(2){
            width: 10.7rem;
            
        }
    }

}
.header__social {
    display: flex;
    width: 24.103rem;
    height: 3.6rem;
}
.header__social-title {
    letter-spacing: 0.03em;
    line-height: 1.63; 
    width: 10.6rem;
    margin-right: 1.8rem;
}
.header__social-items {
    column-gap: 0.597rem;
    display: flex;
    width: 11.703rem;
    height: 3.5rem;
}
.header__social-item {
    width: 3.5rem;
    height: 3.5rem;
    img{
        width: 100%;
    }

}
.header__call {
    display: flex;
    flex-direction: column;
    max-width: 20.1rem;
    justify-content: space-between;
    align-items: center;
}
.header__call-title {
    font-size: 1.2rem;
    line-height: 0.83;

    margin-bottom: 0.6rem;
}
.header__call-phone {
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.83;
    width: 19.0rem;
    margin-bottom: 0.6rem;
    background-image:url("/src/assets/img/header/arrow.svg");
    background-size:0.9rem 0.5rem;
    background-repeat: no-repeat;
    background-position: right;
}
.header__call-order {
    font-size: 1.2rem;
    width: 11.9rem;
    line-height: 1.75;
    letter-spacing: 0.05em;
    border-bottom:  0.2rem dotted #FD2016 ;
    background-image:url("/src/assets/img/header/phone.svg");
    background-size: 0.6rem 0.6rem;
    background-repeat: no-repeat;
    background-position: right;
} 

@media(max-width:992px){
    .header {
        font-size: 0.9rem;
        row-gap: 1rem;
        flex-wrap: wrap;
        padding: 1.8rem 0;
    }
    .header__logo {
        width: 11rem;
        height: 2rem;
    }
    .header__remont {
        height: 3rem;
        width: 14rem;
    }
    .header__adress {
        width: 18.2rem;
        height: 3rem;  
    }
    .header__card {
        font-weight: 700;
        width: 13.2rem;
        height: 1.9rem;
        padding-left: 2.0rem;
        span{
        
            width: 9.5rem;
        }
    }
    .header__calc {
        width: 18.3rem;
        height: 3.7rem;
        padding-left: 4.6rem;
        span{
            border-bottom:  0.2rem dotted #FD2016 ;
            &:nth-child(1){
                width: 11.5rem;    
            }
            &:nth-child(2){
                width: 9rem;
    
            }
        }
    
    }
    .header__social {
        display: flex;
        width: 24.103rem;
        height: 3.0rem;
        align-items: center;
    }
    .header__social-title {
        letter-spacing: 0.03em;
        line-height: 1.63; 
        width: 10.6rem;
        margin-right: 1.0rem;
    }
    .header__social-items {
        column-gap: 5.97px;
        width: 11.703rem;
        height: 3.0rem;
    }
    .header__social-item {
        width: 3.0rem;
        height: 3.0rem;
        img{
            
        }
    }
    .header__call {
        width: 20.1rem;
    }
    .header__call-title {
        font-size: 1.0rem;
        margin-bottom: 1rem;
    }
    .header__call-phone {
        font-size: 1.6rem;
        width: 16.0rem;
        line-height: 0.53;
    }
    .header__call-order {
        font-size: 1.0rem;
        width: 9.9rem;
 
    } 
}